:root {
    --primary: #F7B32B;
    --secondary: #99AAFF;
    --complement: #95ACB8;
    --dark: #000000;
    --light: #ffffff;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: var(--light);
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: var(--primary) !important;
}

@media (min-width: 992px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--primary);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

